body {
    font-family: 'Roboto', sans-serif;
}
body > * { 
    display: flex;
    flex-direction: column;
}
.sidebar-article{
    flex-direction: row-reverse;
}
header {
    background-color: black;
    padding: 1.5em;
}
footer {
    background-color: grey;
    padding: 1.5em;
}
.SIDEBAR {
    background-color: red;
    padding: 1.5em;
}
.article {
    background-color: white;
    padding: 1.5em 6em;
    
}
h1,h2 {
    color: white;
}
.article-head {
    color: black;
    border-bottom: solid rgba(128, 128, 128, 0.116) 0.1em;
}